/* ===== GOOGLE FONTS ===== */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap");

/*===== VARIABLES CSS =====*/

/*===== Colores =====*/
:root {
  --main-color: #00d9e4;
  --popup-border-color: #56d8e4;
  --popup-close-color: #3498db;
  --contact-ib-color: #45faff;
  --white-color: #fafaff;
  --text-color: #fff;
  --black-color: #000;
  --join-hover-color: gold;
  
  --header-color: rgba(31, 30, 30, 0.1);
  /*--header-color: rgba(47, 53, 66,1.0);*/
  --view-color: rgb(31, 30, 30);
  --drop-color: #2f0a0d; 
  /*--drop-color: rgb(31, 30, 30);*/  
  --main-animation-color: crimson;
  --text-animation-color: crimson;
  --title-p-color: #2a2f25;
  --join-border-color: lightgray;
  --join-a-color: #fa4299;
}

/*===== background color =====*/
:root {
  --contact-background-color: #03080a;
  --services-background-color: #f2f2f2;
}

/*===== font size =====*/
:root {
  --main-h1-font: 6rem;
  --main-butt-font: 2rem;
  --view-a-font: 2rem;
  --nav-a-font: 1.8rem;
  --brand-h1-font: 3rem;
  --view-hover-font: 6rem;
  --section-title-font: 5em;
}

/*===== Marginse =====*/

/*===== z index =====*/

/*===== BASE =====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none; /*기본값 밑줄이 없는 보통 글자*/
  color: inherit; /*부모 색상 상속*/
}

/*===== LAYOUT =====*/
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*===== Hero section =====*/

/* img */
#hero {
  background-image: url(../images/j1.jpg);
  background-repeat: no-repeat;
  background-size: cover; /*이미지 가득 채우기*/
  background-position: top center; /*배경 이미지 위치 지정*/
  position: relative; /*relative, absolute, fixed 기준 */
  z-index: 1; 
}
/* img �닾紐낅룄 泥섎━ */
#hero:after {
  content: "";
  position: absolute; 
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--black-color);
  opacity: 0.7; /*요소의 투명도 조절*/
  z-index: -1; 
}

/*===== Header =====*/

/*web title*/
.brand h1 {
  font-size: var(--brand-h1-font);
  text-transform: uppercase;
  color: white;
}
.brand h1 span {
  color: var(--main-color);
}

/*nav layout*/
#header {
  position: fixed; /*브라우저 화면의 상대 위치 고정된 위치*/
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw; /* view port 화면 전체 스크롤 생김 */
  height: auto;
}
#header .header {
  min-height: 8vh; /* 8vh 보다 작아지는것을 방지 */
  background-color: var(--header-color); /*NAV-BAR*/  
  transition: 0.3s ease background-color; /*scroll NAV-BAR*/  
  border-style: none;
}
#header .nav-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between; /*요소들 사이 여유 공간 배치*/
  max-width: 1294px;
  padding: 0 10px;
}
/* responsive hamburger view*/
#header .nav-list ul {
  position: absolute;
  background-color: var(--view-color);
  width: 100vw;
  height: 100vh;
  left: 100%; /*hamburger view 채움*/
  /*left: 0;*/ /*hamburger view 숨김*/
  top: 0;
  display: flex; 
  justify-content: center; /*가운데 정렬*/
  align-items: center;
  flex-direction: column; /*세로 정렬*/
  z-index: -1;
  /*overflow: hidden;*/
  transition: 0.7s ease left;
}
/*hamburger view active */
#header .nav-list ul.active {
  left: 0; /* hamburger view */
}

#header .nav-list ul a {
  font-size: var(--nav-a-font);
  font-weight: 500;
  letter-spacing: 0.2rem;
  display: block;
  color: var(--white-color);
  padding: 20px;
  display: block;
  /*background-color: blue;*/
}
/* view text shadow */
#header .nav-list ul a::after {
  content: attr(data-after); /*nav 드랍 테이터 불러오기*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: var(--view-hover-font);
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}

/* view li:hover*/
#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}
/*hamburger button*/
#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid var(--main-color);
  border-radius: 50%; /*네모 -> 원 만들기*/
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 500;
  transform: scale(0.7); /* hamburger 원 크기*/
  margin-right: 20px;
}
/*hamburger animation*/
#header .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_plus 1s ease infinite; /*keyframes 네임 hamburger_plus 1초 처음과 끝 무한대*/
}
/*hamburger keyframes*/
@keyframes hamburger_plus {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}
/*hamburger info*/
#header .hamburger .bar {
  height: 2px; /*�옉��湲� 留뚮뱾湲�*/
  width: 30px;
  position: relative;
  background-color: var(--main-color);
  z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  background-color: var(--main-color);
  transition: 0.3s ease;
  transition-property: top, bottom; /* top, bottom �듃�옖吏��뀡 �쟻�슜*/
}
/*작대기 만들기*/
#header .hamburger .bar::after {
  top: 8px;
}
/*작대기 만들기*/
#header .hamburger .bar::before {
  bottom: 8px;
}
/* hamburger click .active */
#header .hamburger.active .bar::before {
  bottom: 0; /*작대기 사라짐*/
}
#header .hamburger.active .bar::after {
  top: 0; 
}

/*dorpdown nav*/
#header .nav-list .dropdown .drop {
  position: relative;
  /*background-color: red;*/
  box-sizing: border-box;
}
#header .nav-list .dropdown {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: var(--drop-color);
  transition: 0.7s ease;
  left: inherit; 
  top: -250px; /*화면 밖 위로 올림*/
  z-index: -10; /*menu bar보다 아래로*/
  visibility: hidden; /*숨긺*/
  border-style: none;
  padding-top: 10px;
  width: auto;
}
#header .nav-list ul .drop:hover .dropdown {
  visibility: visible; /*보임*/
  top: 80%; /*위에서 80% 내려옴*/
  transition: 1s ease;
}
#header .nav-list .dropdown .drop2 {
  position: relative;
  /*background-color: red;*/
  box-sizing: border-box;
}
#header .nav-list .dropdown2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: 0.7s ease;
  top: -400px;
  left: 400px;
  visibility: hidden;
}

#header .nav-list ul .drop2:hover .dropdown2 {
  position: absolute;
  visibility: visible;
  transition: 0.7s ease;
  margin: 0px;
  padding: 0px;
  background-color: var(--drop-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  top: 0;
  left: 190px;
  width: 150px;
  border-left: 2px solid var(--main-color);
}
#header .nav-list ul li a {
  font-size: var(--nav-a-font);
  color: var(--white-color);
}
#header .nav-list ul a:hover {
  color: var(--main-color);
}
#header .nav-list ul span:hover {
  color: var(--join-hover-color);
}

/*===== MEDIA QUERISE =====*/
@media only screen and (min-width: 1194px) {
  /*header*/
  #header .hamburger {
    display: none;
  }
  #header .nav-bar {
    z-index: 0;
  }
  #header .nav-list ul {
    position: initial;
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: transparent;
    width: fit-content;
    visibility: visible;
  }
  #header .nav-list ul a:after {
    display: none;
  }
}

@media only screen and (max-width: 1194px) {
  #header .nav-list ul li a {
    font-size: var(--view-a-font);
    color: var(--white-color);
  }
  #header .nav-list .dropdown,
  #header .nav-list .dropdown2 {
    display: none;
  }
}
