/* ===== GOOGLE FONTS ===== */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap");

/*===== VARIABLES CSS =====*/

/*===== Colores =====*/
:root {
  --main-color: #00d9e4;
  --popup-border-color: #56d8e4;
  --popup-close-color: #3498db;
  --contact-ib-color: #45faff;
  --white-color: #fafaff;
  --text-color: #fff;
  --black-color: #000;
  --join-hover-color: gold;
  
  --header-color: rgba(31, 30, 30, 0.1);
  /*--header-color: rgba(47, 53, 66,1.0);*/
  --view-color: rgb(31, 30, 30);
  --drop-color: #2f0a0d; 
  /*--drop-color: rgb(31, 30, 30);*/  
  --main-animation-color: crimson;
  --text-animation-color: crimson;
  --title-p-color: #2a2f25;
  --join-border-color: lightgray;
  --join-a-color: #fa4299;
}

/*===== background color =====*/
:root {
  --contact-background-color: #03080a;
  --services-background-color: #f2f2f2;
}

/*===== font size =====*/
:root {
  --main-h1-font: 6rem;
  --main-butt-font: 2rem;
  --view-a-font: 2rem;
  --nav-a-font: 1.8rem;
  --brand-h1-font: 3rem;
  --view-hover-font: 6rem;
  --section-title-font: 5em;
}

/*===== Marginse =====*/

/*===== z index =====*/

/*===== BASE =====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none; /* 諛묒쨪 吏��슦湲� */
  color: inherit; /*遺�紐⑥쓽 而щ윭�긽�냽*/
}

/*===== LAYOUT =====*/
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*===== Hero section =====*/

/* img */
#hero {
  background-image: url(../images/j1.jpg);
  background-repeat: no-repeat;
  background-size: cover; /*媛�濡� �꽭濡� 鍮꾩쑉 �쑀吏� */
  background-position: top center; /*�쐞移� 議곗젙  �긽�떒 媛��슫�뜲*/
  position: relative; /*�쐞移� 議곗젙 */
  z-index: 1; /* �떎瑜� �슂�냼蹂대떎 �넂寃� */
}
/* img �닾紐낅룄 泥섎━ */
#hero:after {
  content: "";
  position: absolute; /* 媛��옣 媛�源뚯슫 �쐞移� 吏��젙 議곗긽 �슂�냼�뿉 ���빐 �긽���쟻�쑝濡� 諛곗튂 */
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--black-color);
  opacity: 0.7; /* �닾紐낅룄 0.0~1.0 */
  z-index: -1; /* 湲곕낯 �슂�냼�쓽 �쐞移섎낫�떎 �븘�옒濡� �븳�떎 */
}

/*===== Header =====*/

/*web title*/
.brand h1 {
  font-size: var(--brand-h1-font);
  text-transform: uppercase;
  color: white;
}
.brand h1 span {
  color: var(--main-color);
}

/*nav layout*/
#header {
  position: fixed; /*怨좎젙�맂 �쐞移� �꽕�젙 �긽�쐞�슂�냼�뿉 �쁺�뼢�쓣 諛쏆� �븡�뒗�떎*/
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw; /* view port �꼫鍮� */
  height: auto;
}
#header .header {
  min-height: 8vh; /* �슂�냼�쓽 理쒖냼�넂�씠 */
  background-color: var(--header-color); /*nav-bar �닾紐낅룄 */  
  transition: 0.3s ease background-color; /*scroll nav-bar*/  
  border-style: none;
}
#header .nav-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between; /* �슂�냼 �뼇�걹�쑝濡� 諛곗튂*/
  max-width: 1294px;
  padding: 0 10px;
}
/* responsive hamburger view*/
#header .nav-list ul {
  position: absolute;
  background-color: var(--view-color);
  width: 100vw;
  height: 100vh;
  left: 100%; /* hamburger view �닲源� */
  /*left: 0;*/ /* hamburger view �닲源� */
  top: 0;
  display: flex; /* flex 濡� 諛붽씀怨� �쁿�쑝濡� �굹�뿴*/
  justify-content: center; /* a �깭洹� 以묒븰諛곗튂 */
  align-items: center;
  flex-direction: column; /* a �깭洹� �꽭濡쒖젙�뿴 */
  z-index: -1;
  /*overflow: hidden;*/
  transition: 0.7s ease left;
}
/*hamburger view active */
#header .nav-list ul.active {
  left: 0; /* hamburger view 蹂댁엫 */
}

#header .nav-list ul a {
  font-size: var(--nav-a-font);
  font-weight: 500;
  letter-spacing: 0.2rem;
  display: block;
  color: var(--white-color);
  padding: 20px;
  display: block;
  /*background-color: blue;*/
}
/* view text shadow */
#header .nav-list ul a::after {
  content: attr(data-after); /* dataset媛앹껜(attr)瑜� �넻�빐 ���옣�맂 �냽�꽦 媛��졇�삤湲� */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: var(--view-hover-font);
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}

/* view li:hover*/
#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}
/*hamburger button*/
#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid var(--main-color);
  border-radius: 50%; /* �썝�삎 留뚮뱾湲� */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 500;
  transform: scale(0.7); /* hamburger 異뺤냼 */
  margin-right: 20px;
}
/*hamburger animation*/
#header .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_plus 1s ease infinite; /*keyframes �씠由� 臾댁젣�븳 */
}
/*hamburger keyframes*/
@keyframes hamburger_plus {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}
/*hamburger info*/
#header .hamburger .bar {
  height: 2px; /*�옉��湲� 留뚮뱾湲�*/
  width: 30px;
  position: relative;
  background-color: var(--main-color);
  z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  background-color: var(--main-color);
  transition: 0.3s ease;
  transition-property: top, bottom; /* top, bottom �듃�옖吏��뀡 �쟻�슜*/
}
/* �븯�떒 �옉��湲� */
#header .hamburger .bar::after {
  top: 8px;
}
/* �긽�떒 �옉��湲� */
#header .hamburger .bar::before {
  bottom: 8px;
}
/* hamburger click .active */
#header .hamburger.active .bar::before {
  bottom: 0; /*�긽�떒 �옉��湲� �궗�씪吏�*/
}
#header .hamburger.active .bar::after {
  top: 0; /*�븯�떒 �옉��湲� �궗�씪吏�*/
}

/*dorpdown nav*/
#header .nav-list .dropdown .drop {
  position: relative;
  /*background-color: red;*/
  box-sizing: border-box;
}
#header .nav-list .dropdown {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: var(--drop-color);
  transition: 0.7s ease;
  left: inherit; /*遺�紐⑥긽�냽 諛쏆븘 �쐞移� �씠�룞 */
  top: -250px; /* �쐞濡� �쐞移� �씠�룞 �솕硫� 諛� */
  z-index: -10; /*menu bar 蹂대떎 �븘�옒�꽌 �씠�룞*/
  visibility: hidden; /*�닲源�(�옄�떊�쓽 �쁺�뿭�� 怨꾩냽 李⑥�) */
  border-style: none;
  padding-top: 10px;
  width: auto;
}
#header .nav-list ul .drop:hover .dropdown {
  visibility: visible; /*諛뺤뒪媛� 蹂댁뿬吏�*/
  top: 80%; /*�쐞�뿉�꽌 �븘�옒濡� �궡�젮�샂 */
  transition: 1s ease;
}
#header .nav-list .dropdown .drop2 {
  position: relative;
  /*background-color: red;*/
  box-sizing: border-box;
}
#header .nav-list .dropdown2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: 0.7s ease;
  top: -400px;
  left: 400px;
  visibility: hidden; /*�닲源�(�옄�떊�쓽 �쁺�뿭�� 怨꾩냽 李⑥�) */
}

#header .nav-list ul .drop2:hover .dropdown2 {
  position: absolute;
  visibility: visible; /*諛뺤뒪媛� 蹂댁뿬吏�*/
  transition: 0.7s ease;
  margin: 0px;
  padding: 0px;
  background-color: var(--drop-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  top: 0;
  left: 190px;
  width: 150px;
  border-left: 2px solid var(--main-color);
}
#header .nav-list ul li a {
  font-size: var(--nav-a-font);
  color: var(--white-color);
}
#header .nav-list ul a:hover {
  color: var(--main-color);
}
#header .nav-list ul span:hover {
  color: var(--join-hover-color);
}

/*===== MEDIA QUERISE =====*/
@media only screen and (min-width: 1194px) {
  /*header*/
  #header .hamburger {
    display: none;
  }
  #header .nav-bar {
    z-index: 0; /*dropdown 嫄몃┝諛⑹� */
  }
  #header .nav-list ul {
    position: initial; /* 泥섏쓬 媛믨낵 �룞�씪 */
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: transparent;
    width: fit-content;
    visibility: visible;
  }
  #header .nav-list ul a:after {
    display: none;
  }
}

@media only screen and (max-width: 1194px) {
  #header .nav-list ul li a {
    font-size: var(--view-a-font);
    color: var(--white-color);
  }
  #header .nav-list .dropdown,
  #header .nav-list .dropdown2 {
    display: none;
  }
}
