#services .services {
  flex-direction: column; /* 배치 방향 column */
  margin: 0 auto;
  padding: 100px 0;
  background-color: var(--services-background-color);
}
#services .service-top {
  max-width: 800px;
  text-align: center;
}
#services .service-top h2 {
  font-size: var(--section-title-font);
  color: var(--black-color);
  letter-spacing: 0.2rem;
}
#services .service-top h2 span {
  color: var(--text-animation-color);
}
#services .service-top p {
  font-weight: 500;
  color: var(--title-p-color);
  margin: 10px;
}
#services .service-bottom {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* 줄 바꿈 허용 */
  margin-top: 50px;
}
#services .service-item1 {
  flex-basis: 80%; /* 항목의 크기 */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  margin: 10px 5%;
  position: relative;
  overflow: hidden;
  background-size: cover;
  z-index: 1;
  background-image: url(../images/s1.jpg);  
}
#services .service-item1 img {
  transition: 0.3s ease transform;
}
#services .service-item1:hover .service-icon img {
  transform: scale(1.5);
  cursor: pointer;
}
#services .service-item2 {
  flex-basis: 80%; /* 항목의 크기 */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(../images/s2.jpg);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#services .service-item2 img {
  transition: 0.3s ease transform;
}
#services .service-item2:hover .service-icon img {
  transform: scale(1.5);
  cursor: pointer;
}
#services .service-item3 {
  flex-basis: 80%; /* 항목의 크기 */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(../images/s5.jpg);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#services .service-item3 img {
  transition: 0.3s ease transform;
}
#services .service-item3:hover .service-icon img {
  transform: scale(1.5);
  cursor: pointer;
}
#services .service-item4 {
  flex-basis: 80%; /* 항목의 크기 */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(../images/s4.jpg);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#services .service-item4 img {
  transition: 0.3s ease transform;
}
#services .service-item4:hover .service-icon img {
  transform: scale(1.5);
  cursor: pointer;
}
#services .service-item1:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.7;
  z-index: -1;  
}
#services .service-item2:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.7;
  z-index: -1;
}
#services .service-item3:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.7;
  z-index: -1;
}
#services .service-item4:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.7;
  z-index: -1;
}
#services .service-bottom .service-icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
  /*border: 1px solid red;*/
}
#services .service-bottom h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#services .service-bottom p {
  color: white;
  text-align: left;
  font-size: 1.6rem;
}
/* End Services Section */
@media only screen and (min-width: 1194px) {
  #services .service-bottom .service-item1 {
    flex-basis: 22%;
    margin: 1.5%;
  }
  #services .service-bottom .service-item2 {
    flex-basis: 22%;
    margin: 1.5%;
  }
  #services .service-bottom .service-item3 {
    flex-basis: 22%;
    margin: 1.5%;
  }
  #services .service-bottom .service-item4 {
    flex-basis: 22%;
    margin: 1.5%;
  }
}
